<% layout('layouts/boilerplate') -%>
<h1>New Account</h1>
<form action="/accounts" method="POST" novalidate class="needs-validation">
  <div class="form-group my-3">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="account[name]" required>
  </div>
  <div class="form-group my-3">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" name="account[type]" required>
  </div>
  <div class="form-group my-3">
    <label for="balance">Balance</label>
    <input type="text" class="form-control" id="balance" name="account[balance]" required>
  </div>
  <div class="form-group my-3">
    <label for="currency">Currency</label>
    <input type="text" class="form-control" id="currency" name="account[currency]" value="COP" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/accounts">All Accounts</a>
