.section {
  width: 100%;
  height: auto;
  margin: 20px;
  border-radius: 10px;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-title {
  display: grid;
  grid-template-columns: max-content auto;
  align-content: center;
  font-size: 2rem;
  color: white;
  font-family: Quicksand, sans-serif;
}

hr {
  padding: 0 20px;
  background-color: white;
  border: none;
  height: 3px;
  margin: 20px 10px;
}

.section-body {
  font-size: 1rem;
  font-family: Oswald, sans-serif;
  color: white;
}

.section-body-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.section-body-item {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: auto;
}

input {
  height: auto;
  width: 100%;
  flex-grow: 1;
  border-radius: 5px;
  border: 1 1;
  border-color: lightgray;
  /* min-width: 200px; */
}

.label {
  font-size: 1.2rem;
  min-width: 75px;
}
