<% layout('layouts/boilerplate') -%>
<h1>Edit Transaction</h1>
<form action="/transactions/<%= transaction._id%>?_method=PATCH" method="POST">
  <div class="form-group my-3">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" placeholder="debit | credit" name="type" value=<%= transaction.type %>>
  </div>
  <div class="form-group my-3">
    <label for="amount">Amount</label>
    <input type="text" class="form-control" id="amount" placeholder="Amount" name="amount" value=<%= transaction.amount %>>
  </div>
  <div class="form-group my-3">
    <label for="description">Description</label>
  <textarea class="form-control" rows="4" cols="50" placeholder="Description" name="description" id="description"><%= transaction.description%></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a class="card-link btn btn-info" href="/transactions">All Transactions</a>
</form>
