<% layout('layouts/boilerplate') -%>
<h1>New Transaction</h1>
<form>
  <div class="form-group my-3">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" placeholder="debit | credit">
  </div>
  <div class="form-group my-3">
    <label for="amount">Amount</label>
    <input type="text" class="form-control" id="amount" placeholder="Amount">
  </div>
  <div class="form-group my-3">
    <label for="description">Description</label>
    <textarea class="form-control" rows="4" cols="50" placeholder="Description" id="description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/transactions">All Transactions</a>
